{% extends 'layouts/app-layout.html' %}

{% block content %}
  <h1>Certificates</h1>
  <a href="{{ url_for('certificate.create') }}" class="btn btn-primary">Add New Certificate</a>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Certificate Name</th>
        <th>Email</th>
        <th>DNS Challenge</th>
        <th>Domain</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for certificate in certificates %}
        <tr>
          <td>{{ certificate.id }}</td>
          <td>{{ certificate.name }}</td>
          <td>{{ certificate.email }}</td>
          <td>
            {% if certificate.dns_challenge %}
              <i class="fas fa-check"></i>
            {% else %}
              <i class="fas fa-times"></i>
            {% endif %}
            <td>
            {% for domain in domains %}
              {% if domain.id in certificate.domains %}
                {{ domain.name }}
              {% endif %}
            {% endfor %}
            </td>
          <td>
            <a href="{{ url_for('certificate.edit', id=certificate.id) }}" class="btn btn-sm btn-primary">Edit</a>
            <a href="{{ url_for('certificate.delete', id=certificate.id) }}" class="btn btn-sm btn-danger">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}