{% extends 'layouts/app-layout.html' %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Host IP</th>
            <th>Host Port</th>
            <th>HTTPS</th>
            <th>Domains</th>
            <th>Certificate ID</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for config in nginx_configs %}
            <tr>
            <td>{{ config.host_ip }}</td>
            <td>{{ config.host_port }}</td>
            <td>{{ config.host_https }}</td>
            <td>
                {% for domain in config.domains %}
                {{ domain.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>{{ config.certificate_id or 'N/A' }}</td>
            <td>
                <a href="{{ url_for('nginx_config.edit', id=config.id) }}" class="btn btn-sm btn-primary">Edit</a>
                <a href="{{ url_for('nginx_config.delete', id=config.id) }}" class="btn btn-sm btn-danger">Delete</a>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}